*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* min-height: 100vh; */
    padding: 30px;
    background-color: rgb(223, 228, 241);
    color: #1f2937;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* ------------------------------------------ */
/* ------------------------------------------ */

.container{
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    text-align: center;
    /* background-color: lightblue; */
    padding: 20px;
    margin: 30px 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header h2{
    font-size: 40px;
    font-weight: 800;
    color: rgb(84, 76, 193);
}
.header p{
    font-size: 16px;
    color: #8290a1;
}

/* ------------------------------------- */
/* ------------------------------------- */

/* TASK-CONTAINER */

.tasks-cont{
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 10px rgba(142, 141, 141, 0.3) inset;
    padding: 30px;
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* TASK-BLOCK */

.task-block{
    background-color: white;
    box-shadow: 0 0 10px rgba(142, 141, 141, 0.3);
    padding: 30px;
    border-radius: 15px;
}
.title{
    font-size: 27px;
    font-weight: 700;
    color: rgb(39, 66, 97);
    margin-bottom: 15px;
}
.desc{
    color: #a1a1a1;
    margin-bottom: 15px;
}

.code-block{
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 10px rgba(186, 186, 186, 0.3) inset;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
.code-block h3{
    font-size: 18px;
    color: #595959;
}
.result-block{
    background-color: rgb(245, 238, 255);
    color: rgb(103, 69, 204);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}


.code{
    background-color: rgb(31, 46, 64);
    color: rgb(240, 240, 240);
    font-size: 15px;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
}
.output{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
}














